.Room {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  &_SendBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.6em;
    font-size: 1.2em;
    background: aquamarine;
    margin: 1em;
    &:active {
      transform: scale(0.9);
    }
  }
  &_CallBtn {
    border-color: green;
    background: green;
    img{
      height: 2em;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &_EndBtn {
    border-color: red;
    background: red;
    margin: 1em;
    img{
      height: 2em;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &_Content {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    video,h4{
      background-color: white;
    }
    &_VideoMy {
      border: 2px solid black;
      margin: 1em;
      border-radius: 1em;
      padding-bottom: 0.4em;
      background-color: white;
      width: fit-content;
    }
    &_VideoRemote {
      position: static;
      border: 2px solid black;
      margin: 1em;
      border-radius: 1em;
      padding-bottom: 0.4em;
      background-color: white;
      width: fit-content;
    }
  }
}

@media screen and (max-width: 600px) {
  .Room {
    &_Content {
      display: block;
    }
    &_Video {
      overflow: hidden;
      border-radius: 10px;
      // margin: 1em;
    }
  }
}
