.room {
    width: 100%;
    padding: 20px;
}
.View_content{
    display: flex;
    justify-content: space-between;
}
  
  /* Styles for mobile */
  @media screen and (max-width: 480px) {
    .room {
      width: 100%;
      padding: 5px;
    }
    .View_content{
        display: block;
    }
  }